/*
========================================================================================
    BJ-DNA-QC Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/


manifest {
  name = "BJ-DNA-QC"
  description = "Pipeline evaluates the quality of the single-cell libraries from low-pass sequencing data"
  author = "BioSkryb Genomics"
  mainScript = "main.nf"
  version = '2.0.2'
  nextflowVersion = '!>=22.10.1' // with ! prefix, stop execution if current version does not match required version.
}


/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/


// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules.config'

params{
  // GENERAL
  help = false
  organization = "BSG210001"
  workspace = "b85725bb-5a19-476f-8f8a-aa60ebaed643"
  project = "1753d7ec-379f-4728-8068-595f49913ec6"
  architecture = "x86" // "arm" and "x86" options

  
  // READ INPUTS
  reads = ""
  input_csv = ""
  is_fasterq = false
  platform = "Illumina" // Illumina, Ultima, Element
  
  // SEQTK
  read_length = 75
  n_reads = 2000000
  seqtk_sample_seed = 123
  
  // FASTP
  instrument = ""
  two_color_chemistry = ( params.instrument in [ "NextSeq", "NovaSeq" ] ? true : false )
  qc_only_mode  = false
  adapter_sequence = "none"
  adapter_sequence_r2 = "none"
  
  // SENTIEON
  genomes_base = "s3://bioskryb-public-data/pipeline_resources/"
  genome = 'GRCh38'
  mode = "preseq"
  ploidy = 2
  
  // MULTIQC
  multiqc_config = "$baseDir/assets/multiqc"
  
  
  // GINKGO
  
  bin_size = 1000000 // 500000, 1000000, 2000000 options
  min_ploidy = 1.5
  max_ploidy = 6
  min_bin_width = 5
  is_haplotype = 2
  ginko_readlen = 76
  
  // OUTPUT DIR - defaults are profile specific
  publish_dir = ""
  timestamp = new java.util.Date().format( 'yyMMdd_HHmmss').toString()
  tmp_dir = "/tmp/${params.timestamp}"
  enable_publish = true
  disable_publish = false

  // MAPD
  mapd_bin_size = 500000

  //SKIP MODULES

  skip_kraken = true
  skip_qualimap = true
  skip_mapd = false
  skip_fastqc = true
  skip_ginkgo = true
  
  // NOTIFICATIONS
  email_on_fail = "viren.amin@bioskryb.com"
  
  // Pipeline specific Resource Label
  pipeline_name = "BJ-DNA-QC_${params.timestamp}"

}
